.carga-contenedor{
    width: 100%;
    height: 100vh;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: black;
}
.carga-contenedor div{
    width: 420px;
    height: 520px;
}
.carga-contenedor img{
    background-color: black;
}
.carga-contenedor p{
justify-items: center;
    color: white;
    text-align: center;
}
.carga-lottie{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: black;

}

@media (max-width: 425px) {
    .carga-contenedor  {
        height: 100vh;
      }
   

}